/* Base: 00adee */
/* Accent: 1c3b4f */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #1c3b4f;
    background-color: #272727;
}

a {
    color: #00adee;
    text-decoration: none;
}

    a:active {
        outline: 0 !important;
    }

    a:hover {
        text-decoration: none;
    }

.header {
    border-bottom: #fafafa solid 2px;
    background-color: white;
    position: relative;
}

    .header .logo {
    }

    .header .menu-icon {
        font-size: 24px;
        padding: 30px 0;
    }

    .header .nav {
        margin: 31px 0 0;
        position: relative;
        top: 2px;
    }

        .header .nav li {
            margin: 0;
        }

        .header .nav a {
            padding: 9px 20px;
            text-transform: uppercase;
            font-size: 15px;
            color: #1c3b4f;
            border-radius: 0;
        }

            .header .nav a:hover {
                background-color: transparent;
                color: #00adee;
                border-bottom: #00adee solid 2px;
                transition: all 0.4s ease-in-out;
            }

        .header .nav li.active a {
            background-color: transparent;
            color: #00adee;
            border-bottom: #00adee solid 2px;
        }

        .header .nav li.listen a {
            color: #fafafa;
            background-color: #00adee;
            border-bottom: #00adee solid 2px;
        }

            .header .nav li.listen a:hover, .header .nav li.listen a:active {
                color: #fafafa;
                background-color: #0099d3;
                border-bottom: #0099d3 solid 2px;
                transition: all 0.4s ease-in-out;
            }

    .header .vertical-menu {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    }

        .header .vertical-menu li a {
            display: block;
            padding: 10px 10px;
            text-transform: uppercase;
            font-size: 15px;
            color: #1c3b4f;
        }

            .header .vertical-menu li a:hover {
                background-color: #00adee;
                color: white;
                transition: all 0.4s ease-in-out;
            }

.slider {
    background: url(../images/bg.jpg) no-repeat bottom center;
    border-bottom: #ddd solid 2px;
}

    .slider h2 {
        padding-top: 30px;
        color: #fafafa;
        font-size: 30px;
        line-height: 50px;
        text-transform: uppercase;
    }

        .slider h2 i {
            padding: 0 5px;
            font-size: 36px;
            background-color: #00adee;
            background-color: rgba(0, 173, 238, 0.70);
            font-style: normal;
        }

    .slider p {
        padding: 40px 0 30px;
        color: #fafafa;
        font-size: 15px;
        line-height: 28px;
    }

        .slider p i {
            padding: 0 5px;
            font-size: 20px;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.5);
            font-style: normal;
        }

    .slider .now-playing {
        padding: 10px;
        max-width: 350px;
        background-color: #fafafa;
        color: #1c3b4f;
    }

        .slider .now-playing span.title {
            text-align: right;
            font-weight: bold;
        }

.action {
    padding: 30px 0;
    background-color: #fafafa;
    border-bottom: #eee solid 1px;
    color: #666;
}

    .action span {
        display: block;
        margin-bottom: 25px;
        font-size: 32px;
        line-height: 35px;
    }

    .action p {
        margin: 0;
    }

    .action .btn-listen {
        display: inline-block;
        margin: 20px 0;
        padding: 15px 20px;
        background-color: #00adee;
        color: white;
        font-size: 18px;
    }

        .action .btn-listen:hover {
            background-color: #0099d3;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }

.content {
    padding: 40px 15px;
    background-color: white;
}

.footer {
    padding: 40px;
    background-color: #1c3b4f;
    color: #eee;
}

    .footer .info {
        margin-bottom: 25px;
    }

    .footer .headline {
        margin-bottom: 25px;
        height: 29px;
        border-bottom: #fafafa dotted 1px;
    }

        .footer .headline h2 {
            display: inline-block;
            margin: 0;
            height: 30px;
            border-bottom: #00adee solid 2px;
            font-size: 18px;
            font-weight: 200;
        }

.lower {
    padding: 10px 0 5px;
    color: #777;
}

    .lower .copyright {
        margin-top: 10px;
    }

    .lower .social-media {
        margin-top: 12px;
        text-align: right;
        font-size: 16px;
    }

        .lower .social-media a {
            color: #777;
        }

            .lower .social-media a:hover {
                color: #00adee;
            }


/* Spacial Widget Styles */
#widget_now .create_station, #widget_now .icons {
    display: none;
}

#widget_now .row {
    margin: 0;
}

#widget_now .info .title {
    display: inline;
    font-size: 13px;
    color: #1c3b4f;
    line-height: 15px;
}

    #widget_now .info .title:last-child {
        display: none;
    }


/* Search Stuff */
form.form-search {
    position: relative;
}

    form.form-search:before {
        display: block;
        width: 18px;
        height: 18px;
        content: "\e003";
        font-family: 'Glyphicons Halflings';
        font-size: 18px;
        background-position: -48px 0;
        position: absolute;
        opacity: .5;
        top: 8px;
        left: 8px;
        z-index: 1000;
    }

input.search {
    padding-left: 35px;
    min-width: 100%;
}

/* Library Stuff */
ul.music-library {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

    ul.music-library li {
        padding: 5px 10px;
    }

        ul.music-library li:nth-child(even) {
            background-color: #eee;
        }

    ul.music-library .artist {
        font-weight: bold;
    }
