/* Base: 00adee */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    background-color: #222;
}

a {
    color: #00adee;
    text-decoration: none;
}

    a:active {
        outline: 0 !important;
    }

.header {
    border-bottom: #eee solid 2px;
    background-color: white;
}

.slider {
    background: url(../images/bg.jpg) no-repeat top center;
    height: 427px;
    border-bottom: #ddd solid 2px;
}

    .slider h2 {
        padding-top: 20px;
        color: #f9f9f9;
        font-size: 15px;
        line-height: 50px;
        text-transform: uppercase;
    }

        .slider h2 i {
            padding: 0 5px;
            font-size: 36px;
            background-color: rgba(0, 173, 238, 0.70);
            font-style: normal;
        }

.action {
    padding: 30px 0;
    background-color: #fafafa;
    border-bottom: #eee solid 1px;
    color: #666;
}

    .action span {
        display: block;
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 35px;
    }

    .action .btn-listen {
        display: inline-block;
        padding: 10px 25px;
        background-color: #00adee;
        color: white;
        font-size: 18px;
    }

        .action .btn-listen:hover {
            background-color: #0099d3;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }

.content {
    padding: 40px 15px;
    background-color: white;
}

.footer {
    padding: 40px;
    background-color: #272727;
    color: #eee;
}

    .footer .headline {
        margin-bottom: 25px;
        height: 29px;
        border-bottom: #e4e9f0 dotted 1px;
    }

        .footer .headline h2 {
            display: inline-block;
            margin: 0;
            height: 30px;
            border-bottom: #00adee solid 2px;
            font-size: 18px;
            font-weight: 200;
        }

.lower {
    padding: 10px 0 5px;
    color: #777;
}

    .lower .copyright {
        margin-top: 10px;
    }

    .lower .social-media {
        margin-top: 12px;
        text-align: right;
        font-size: 16px;
    }

        .lower .social-media a {
            color: #777;
        }

            .lower .social-media a:hover {
                color: #00adee;
            }


            /* Spacial Widget Styles */
            #widget_now .create_station, #widget_now .icons {
                display: none;
            }

            #widget_now .info .title {
                display: inline;
            }

            #widget_now .info .title:last-child {
                display: none;
            }