<footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <img src="assets/img/fluffy-radio-white.png" alt="Fluffy Radio"/>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Royalties &amp; DMCA</h5>
          <p class="white-text">Fluffy Radio is fully compliant with all DMCA regulations. In addition, Fluffy Radio is licensed with ASCAP, BMI, SESAC, SoundExchange, &amp; SOCAN.</p>
          <a href="http://www.streamlicensing.com/directory/?action=verify&sid=3499" target="_blank">
              <img src="http://www.streamlicensing.com/directory/images/streamlicensing-badge.png" alt="Stream Licensing">
          </a>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Explicit Content</h5>
          <p class="white-text">Some content, music, or talk could contain content that may not be suitable for all listeners. If that bothers you, please don't tune in.</p>
          <img src="/assets/img/explicit.png" alt="Explicit Content" />
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 203 Solutions | <a href="/legal/">Legal Stuff</a>
      </div>
    </div>
  </footer>
