<footer class="page-footer light-blue darken-4">
  <div class="footer-copyright">
    <div class="container">
      &copy; 203 Solutions | <a href="/legal/">Legal Stuff</a>
      <div class="right social">
        <a href="https://www.facebook.com/fluffyradio"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/fluffy_radio"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/fluffy_radio/"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/fluffyradio"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
