<h2>Get Fluffy!</h2>
<h4>
    We're with you regardless of your favorite device or where you are...
</h4>
<div class="row players">
    <div class="col-md-4">
        <i class="fa fa-windows"></i>
        <br />
        <a href="http://www.windowsphone.com/en-us/store/app/tunein-radio/7f7e3f68-ba3a-e011-854c-00237de2db9e" target="_blank">Windows Phone</a>
    </div>
    <div class="col-md-4">
        <i class="fa fa-android"></i>
        <br />
        <a href="https://play.google.com/store/apps/details?id=tunein.player&hl=en" target="_blank">Android</a>
    </div>
    <div class="col-md-4">
        <i class="fa fa-apple"></i>
        <br />
        <a href="https://itunes.apple.com/us/app/tunein-radio/id418987775?mt=8" target="_blank">iPhone / iPad</a>
    </div>
</div>
<h4>
    Other Devices...
</h4>
<div class="row">
    <div class="col-md-12">
        <p>
            We've got support for all kinds of devices.  If you don't see your device listed above check out our partner TuneIn directly to grab the latest app for your device.
        </p>
        <a style="font-size: 18px;" href="http://www.tunein.com/get-tunein" target="_blank">Get TuneIn Now</a>
    </div>
</div>