<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>
                    <i>Anything and</i>
                    <br />
                    <i>everything...</i>
                    <br />
                    <i>Pure Fluff</i>
                </h2>
                <p>
                    <i>We've got your favorites!</i>
                    <br />
                    <i>If you don't hear it...</i>
                    <br />
                    <i>We'll add it</i>
                </p>
            </div>
            <div class="col-sm-6 hidden-xs">
                <div class="now-playing pull-right text-right">
                    <span class="title">
                        Currently Playing
                    </span>
                    <div class="playing clearfix">
                        <span data-bind="text: nowPlaying"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="action">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>
                    We've got apps for that...
                </span>
                <p>
                    Tune in wherever you are. We've got apps for all smartphones, tablets, and even entertainment and game consoles or go old school and launch the stream right in your web browser.
                </p>
            </div>
            <div class="col-md-3">
                <a href="/#/download" class="btn-listen"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download Now</a>
            </div>
        </div>
    </div>
</div>
<div class="content" style="display: none;">
    <div class="container">
        <!-- Use this for additional content stuff -->
    </div>
</div>