<h2>Now Fluffing!</h2>
<h4>
    Pick your favorite player or just launch our browser player below.
</h4>
<div class="row players">
    <div class="col-md-3">
        <i class="fa fa-cloud"></i>
        <br />
        <a href="#" data-bind="click: openPlayer">Web Player</a>
    </div>
    <div class="col-md-3">
        <i class="fa fa-play-circle-o"></i>
        <br />
        <a href="http://www.streamlicensing.com/stations/fluffy/playlist.pls">iTunes, WinAmp, &amp; More!</a>
    </div>
    <div class="col-md-3">
        <i class="fa fa-windows"></i>
        <br />
        <a href="http://www.streamlicensing.com/stations/fluffy/playlist.asx">Windows Media Player</a>
    </div>
    <div class="col-md-3">
        <i class="fa fa-play-circle-o"></i>
        <br />
        <a href="http://www.streamlicensing.com/stations/fluffy/playlist.ram">Real Media Player</a>
    </div>
</div>
<h3>
    On The Run?
</h3>
<h4>
    <a href="/#/download">Grab one of our apps now!</a>
</h4>