<div class="row">
    <h2>
        Fluffy Library
    </h2>
    <p>
        Check out the full Fluffy Music Library.  If you see it, we'll play it.  If you don't see it, <a href="http://www.facebook.com/fluffyradio">poke</a> or <a href="http://www.twitter.com/fluffy_radio">tweet</a> us to get it added!
    </p>
    <form class="form-search form-inline" data-bind="submit: loadData">
        <input type="text" class="form-control input-lg search" data-bind="value: searchString, valueUpdate: 'afterkeydown'" placeholder="Search the library..." autofocus="autofocus" />
        <button style="display: none;" type="submit">Fire ze missles!</button>
    </form>
    <div class="music-request-alert alert alert-danger alert-dismissible hidden">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Uh Oh!</strong> We couldn't process your request. <span data-bind="text: requestError"></span>
    </div>
    <div class="music-request-alert alert alert-success alert-dismissible hidden">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sweet!</strong> Your request is now queued up.  We'll play it as soon as we can.
    </div>
    <div class="music-library" data-bind="foreach: musicData">
        <div class="row">
            <div class="col-xs-6 music-item">
                <span class="artist" data-bind="text: Artist"></span>
                <br />
                <span class="title" data-bind="text: Title"></span>
            </div>
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-xs btn-success btn-outline" data-bind="click: $root.makeRequest"><i class="fa fa-music"></i> Request</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    Want to see more? Try searching to narrow your results.
</div>