<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-4">
                <a href="/">
                    <img class="logo" src="images/FluffyRadio.png" alt="Fluffy Radio" />
                </a>
            </div>
            <div class="col-xs-2 visible-xs collapsed" style="cursor:pointer" data-toggle="collapse" data-target="#fluffmenu">
                <i class="menu-icon fa fa-align-justify"></i>
            </div>
            <div class="hidden-xs col-sm-8">
                <ul class="nav nav-pills pull-right" role="navigation" data-bind="foreach: router.navigationModel">
                    <!-- ko if: !isListen -->
                    <li data-bind="css: {active: isActive, listen: isListen }">
                        <a data-bind="attr: { href: hash }, html: title"></a>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: isListen -->
                    <li class="listen">
                        <a href="http://www.streamlicensing.com/stations/fluffy/index.html"><i class="fa fa-headphones"></i>&nbsp;&nbsp;Listen Now</a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
        <div class="row visible-xs">
            <div id="fluffmenu" class="collapse navbar-collapse">
                <ul class="vertical-menu" data-bind="foreach: router.navigationModel">
                    <!-- ko if: !isListen -->
                    <li data-bind="css: {active: isActive, listen: isListen }">
                        <a data-bind="attr: { href: hash }, html: title"></a>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: isListen -->
                    <li class="listen">
                        <a href="http://www.streamlicensing.com/stations/fluffy/index.html"><i class="fa fa-headphones"></i>&nbsp;&nbsp;Listen Now</a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="slider">
    <div class="container">
        <div class="row visible-xs">
            <div class="now-playing" style="max-width: 100%;">
                <span class="title">Currently Playing</span>
                <div class="playing">
                    <span data-bind="text: nowPlaying"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 data-bind="visible: showHeading()">
                    <i>Anything and</i>
                    <br />
                    <i>everything...</i>
                    <br />
                    <i>Pure Fluff</i>
                </h2>
                <p data-bind="visible: showHeading()">
                    <i>We've got your favorites!</i>
                    <br />
                    <i>If you don't hear it...</i>
                    <br />
                    <i>We'll add it</i>
                </p>
            </div>
            <div class="hidden-xs col-sm-6">
                <div class="now-playing pull-right text-right">
                    <span class="title">
                        Currently Playing
                    </span>
                    <div class="playing clearfix">
                        <span data-bind="text: nowPlaying"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="action" data-bind="visible: showHeading()">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>
                    Yea, We've got apps for that...
                </span>
                <p>
                    Tune in wherever you are. We've got apps for all smartphones, tablets, and even entertainment and game consoles or go old school and launch the stream right in your web browser.
                </p>
            </div>
            <div class="col-md-3">
                <a href="/#/download" class="btn-listen"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download Now</a>
            </div>
        </div>
    </div>
</div>
<div class="content" data-bind="visible: !showHeading()">
    <div class="container" data-bind="router: {  }"></div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 info">
                <img class="center-block" src="images/FluffyRadio-White.png" alt="Fluffy Radio" />
            </div>
            <div class="col-md-3 info">
                <div class="headline">
                    <h2>The Latest</h2>
                </div>
                <p>
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%22fluffy%20radio%22" data-widget-id="547018738445606912" data-chrome="transparent noboarders nofooter noheader" data-tweet-limit="3" data-related="fluffy_radio" data-link-color="#00adee">Tweets about @fluffy_radio</a>
                </p>
            </div>
            <div class="col-md-3 info">
                <div class="headline">
                    <h2>DMCA Compliance</h2>
                </div>
                <p>
                    Fluffy Radio is fully compliant with all DMCA regulations. In addition, Fluffy Radio is licensed with ASCAP, BMI, SESAC, SoundExchange, & SOCAN.
                </p>
                <a href="http://www.streamlicensing.com/directory/?action=verify&sid=3499" target="_blank">
                    <img class="center-block" src="http://www.streamlicensing.com/directory/images/streamlicensing-badge.png" alt="Stream Licensing">
                </a>
            </div>
            <div class="col-md-3 info">
                <div class="headline">
                    <h2>Explicit Content</h2>
                </div>
                <p>
                    Some content, music, or talk could contain content that may not be suitable for all listeners. If that could bother you, please don't tune in.
                </p>
                <p>
                    <img class="center-block" src="images/explicit.png" alt="Explicit Content" />
                </p>
            </div>
        </div>
    </div>
</div>
<div class="lower">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="copyright">
                    &copy; 2015 Fluffy Radio
                    | <a href="/#/legal">Legal Stuff</a>
                </div>
            </div>
            <div class="hidden-xs col-sm-3">
                <ul class="social-media list-inline">
                    <li>
                        <a href="http://www.facebook.com/fluffyradio">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/fluffy_radio">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/fluffy_radio">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>