<h2>Fluffy Swag</h2>
﻿<h4>Get your favorite Fluffy apparel and gifts now!</h4>
﻿<a href="http://fluffyradio.spreadshirt.com">
﻿  <img src="http://currentcnt.spreadshirt.net/current_cnt/horizontal_xlarge_us.jpg" class="cnt_horizontal_xlarge center-block" alt="promos" />
﻿</a>
﻿<div class="row" data-bind="foreach: storeData">
﻿  <div class="col-md-3">
﻿    <h4 data-bind="text: title"></h4>
﻿    <div data-bind="html: content"></div>
﻿  </div>
﻿</div>
﻿<a href="http://fluffyradio.spreadshirt.com">See All Our Swag!</a>
